{% if rating %}
    {% assign rating = rating | ceil | times: 1 %}
  {% else %}
    {% assign rating = reviews_rating | ceil | times: 1 %}
  {% endif %}
  
  {% assign max_stars = 5 %}
  
  <div class="rating-stars flex gap-1 items-center">
    {% for i in (1..max_stars) %}
      {% assign star_fill = '' %}
      {% if rating >= i %}
        {% assign star_fill = '#BD8053' %}
      {% elsif rating > i-1 %}
        {% assign grad_id = 'grad-star-' | append: i %}
        {% assign star_fill = 'url(#' | append: grad_id | append: ')' %}
      {% else %}
        {% assign star_fill = '#ccc' %}
      {% endif %}
  
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
        {% if rating > i-1 and rating < i %}
          <defs>
            {% assign percent = rating | minus: i | plus: 1 | times: 100 %}
            <linearGradient id="grad-star-{{ i }}" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" stop-color="#BD8053"/>
              <stop offset="{{ percent }}%" stop-color="#BD8053"/>
              <stop offset="{{ percent }}%" stop-color="#ccc"/>
              <stop offset="100%" stop-color="#ccc"/>
            </linearGradient>
          </defs>
        {% endif %}
        <path d="M3.71982 14.4775C3.35753 14.6638 2.94731 14.3383 3.02025 13.9226L3.79812 9.48868L0.495932 6.34183C0.187325 6.04774 0.347076 5.51003 0.760503 5.4513L5.35282 4.79892L7.40044 0.742786C7.58489 0.377405 8.08455 0.377405 8.269 0.742786L10.3166 4.79892L14.9089 5.4513C15.3224 5.51003 15.4821 6.04774 15.1735 6.34183L11.8713 9.48868L12.6492 13.9226C12.7221 14.3383 12.3119 14.6638 11.9496 14.4775L7.83472 12.3626L3.71982 14.4775Z" fill="{{ star_fill }}" />
      </svg>
    {% endfor %}
  </div>
  